
<div class="login"> 
    <div style="display:inline-flex">
        <div class="logo"></div>
        <img src=".\assets\logo-1.png" alt="" class="imagen">
        <div class="formulario">
            <form>
                <p class="textoemail">Email o Nombre de usuario</p>
                <input class="input" type="email" id="email" size="30" required>
                <p class="textopassword">Contraseña</p>
                <div class="pass">
                    <input class="input1" required minlength="8" [type]="show ? 'text' : 'password'" />
                    <button class="sendData" (click)="password()"> <img src=".\assets\show-eye.png">
                    </button>
                </div>
                <div >
                    <button class="boton1" (click)="validateData()">
                        INICIAR SESIÓN
                    </button>
                    <p class="texto1">
                        ¿Haz olvidado tu contraseña?
                    </p>
                    
                </div>
            </form>
            <button class="boton2" (click)="openModal()" >
                REGISTRAR CUENTA NUEVA
        </button>
        </div>
    </div>
</div>
        

