<div style="width: 100%; height: 100%; 
display: flex;
align-items: center;"
>
<div class="login"> 
    <div style="display:inline-flex">
        <div class="logo"></div>
        <img src=".\assets\logo-1.png" alt="" class="imagen">
        <div class="formulario">
            <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
                <p class="textoemail">Email o Nombre de usuario</p>
                <input class="input" type="email" name="email" size="30" ngModel required>
                <p class="textopassword">Contraseña</p>
                <div class="pass" name="password">
                    <input class="input1" required minlength="8"  ngModel [type]="show ? 'text' : 'password'" />
                    <button class="sendData" (click)="password()"> <img src=".\assets\show-eye.png">
                    </button>
                </div>
                <div >
                    <button class="boton1" type="submit">
                        INICIAR SESIÓN
                    </button>
                    <p class="texto1">
                        ¿Haz olvidado tu contraseña?
                    </p>
                    
                </div>
            </form>
            <button class="boton2" (click)="openModal()" >
                REGISTRAR CUENTA NUEVA
        </button>
        </div>
    </div>
</div>
</div>  

