
<div class="login"> 
    <div class="logo"></div>
    <img src=".\assets\logo-1.png" alt="width: 260px;
    height: 32px;">
    <div class="formulario">
        <form>
            <p>Email o Nombre de usuario</p>
            <input type="text">
            <p>Contraseña</p>
            <input type="password">
            <button>
                INGRESAR
            </button>
            <p>
                ¿Haz olvidado tu contraseña?
            </p>
            <button>
                REGISTRAR CUENTA NUEVA
            </button>
        </form>
    </div>
</div>
        

