
<div class="container_publicacion">
    
    <img src="/assets/imegen-perfil-defult.png"  class="publicacion_profile">
    <div class="publicacion_title">Huellitas adopciones</div>
    <img src="/assets/test_pet_img.jpg"  class="publicacion_img_pet">
    <div class="publicacion_descripcion">
        Se perdio perro fachero de solo 6 meses.
        Responde por el nombre facha , se lo vio por ultima vez en la calle 18 de calacoto.
        Es de la raza husky , favor contactar con el numero 74401923 
    </div>
    <div class="">

    </div>
    <img  src="/assets/comments.png"  class="publicacion_icon">
    <img *ngIf="false" src="/assets/pin-selected.png"  class="publicacion_icon">
    <img *ngIf="true" src="/assets/pin.png"  class="publicacion_icon">
    <div class="publicacion_comentarios">
        50 Comentarios 
    </div>
    
    

</div>
    




