
<div class="container_publicacion">

    <div class="datosUsuario">
        <img src="{{publicacion.userImg}}"  class="publicacion_profile">
        <div class="username">{{publicacion.username}}</div>
    </div>
    
    <img src="{{publicacion.pubImg}}"  class="publicacion_img_pet">
    
    <div class="publicacion_descripcion">
        {{publicacion.descrp}}
    </div>
    <div class="">

    </div>
    <img  src="/assets/comments.png"  class="publicacion_icon">
    <img *ngIf="false" src="/assets/pin-selected.png"  class="publicacion_icon">
    <img *ngIf="true" src="/assets/pin.png"  class="publicacion_icon">
    <div class="publicacion_comentarios">
        {{publicacion.numComm}} Comentarios 
    </div>
    
    

</div>
    




