
.container_publicacion{  
    width: 373px;
    height: auto;
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #8d8d8d;
}
.publicacion_profile{
    margin-left: 15px;
    margin-top: 5px;
    display: inline;
    width: 50px;
    height: 50px;
}
.username{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 80px;
    top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}
.publicacion_img_pet{
    width: 100%;
    height: 360px;
}
.publicacion_descripcion{
    width: 330px;
    margin-top: 5px;
    margin-left: 20px;
    height: 51px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}
.publicacion_icon{
    float: right;
    margin-top: 15px;
    padding-right: 20px;
    width: 30px;
    height: 30px;
}
.publicacion_comentarios{
    width: 140px;
    height: 23px;
    margin-top: 18px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #A2A2A2;
    margin-bottom: 15px;
}
