<div class="dash">
    <div style=" display:inline-flex; ">
        <div id="pub" class="selected"
        (click)="changeState('pub')"
        routerLink="publicaciones"
        routerLinkActive="active-router">
            <p class="texto">Publicaciones</p>
        </div>
        <div id="guar" class="deselect"
        (click)="changeState('guar')"
        routerLink="guardados"
        routerLinkActive="active-router"
        >
            <p class="texto">Guardar</p>
        </div>
        <div id="mip" class="deselect"
        (click)="changeState('mip')"
        routerLink="mis-publicaciones"
        routerLinkActive="active-router">
            <p class="texto">Mis Publicaciones</p>
        </div>
    </div>
</div>


<router-outlet></router-outlet>