<div class="container">
    <img (click)="close()" src="/assets/close-x.png"  class="from_close">
    <h1 class="titulo"> REGISTRO </h1>

         <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <p class="texto">Nombre de usuario</p>
            <input class="input" name="username" type="text"ngModel required >
            <p class="texto">Email</p>
            <input class="input" name="email" type="email" ngModel required email>
            <p class="texto">Contraseña</p>
            <div class="pass">
                <input class="input" name="password" [type]="show ? 'text' : 'password'" ngModel required>
                <button type="button" (click)="password()"> <img src=".\assets\show-eye.png"></button>
            </div>
            <p id="pss" class="texto hide" style="color: rgb(255, 97, 97); font-size: 10px; margin-top: 5px;">*La contraseña debe tener 8 caracteres y contener mayúsculas, minúsculas y números*</p>
            <p class="texto">Confirmar Contraseña</p>
            <input class="input" name="confirmPassword" [type]="show ? 'text' : 'password'"  ngModel required>
            <p id="cpss" class="texto hide" style="color: rgb(255, 97, 97); font-size: 10px; margin-top: 5px;">*Las contraseñas deben coincidir*</p>
            <button class="boton1" type="submit">
                REGISTRAR
            </button>
            
        </form>
     
</div>
