<div class="container">
    <img (click)="close()" src="/assets/close-x.png"  class="from_close">
    <h1 class="titulo"> REGISTRO </h1>

         <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <p class="texto">Nombre de usuario</p>
            <input class="input" name="username" type="text"ngModel required >
            <p class="texto">Email</p>
            <input class="input" name="email" type="email" ngModel required email>
            <p class="texto">Contraseña</p>
            <input class="input" name="password" type="password" ngModel required>
            <p class="texto">Confirmar Contraseña</p>
            <input class="input" name="confirmPassword" type="password" ngModel required>
            <button class="boton1" type="submit">
                REGISTRAR
            </button>
            
        </form>
     
</div>
