<div class="container">
    <img (click)="close()" src="/assets/close-x.png"  class="from_close">
    <h1 class="titulo"> REGISTRO </h1>
        <form >

            <p class="textoemail">Nombre de usuario</p>
            <input class="input" type="text">
            <p class="textoemail">Email</p>
            <input class="input" type="email">
            <p class="textoemail">Contraseña</p>
            <input class="input" type="text">
            <p class="textoemail">Confirmar Contraseña</p>
            <input class="input" type="text">
            <button class="boton1">
                REGISTRAR
            </button>
            
        </form>
     
</div>
