<div class="dash">
        <img src=".\assets\logo-2.png" alt="" class="logo">
        <div style="display:inline-flex; margin-left: auto; margin-right: 20px;">
            <img (click)="openModal()" src=".\assets\add-new.png" alt="" class="icon">
            <p class="texto" (click)="opbutton()">{{username}}</p>
            <img src=".\assets\imegen-perfil-defult.png" alt="" class="icon" (click)="opbutton()">
            <button class="cerrarsesion hide" (click)="logout()">Cerrar Sesión</button>
        </div>

        
</div>

<router-outlet></router-outlet>
