.dash{
    position: sticky;
    width: auto;
    height: 124px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: auto;

    background: #FFFFFF;
}
.logo{
    width: 384px;
    height: 113px;
    margin-left: 57px;
    margin-top: 7px;
}
.home{
    width: 57px;
    height: 57px;
    margin-left: 750px;
    margin-right: 40px;
    margin-top: 32px;
} 
.add{
    width: 60px;
    height: 60px;
    margin-right: 40px;
    margin-top: 32px;
}
.perfil{
    width: 60px;
    height: 60px;
    margin-right: 65px;
    margin-top: 32px;
}